@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  background-image: url("https://images2.imgbox.com/4a/83/BqOjR1HO_o.png");
  background-size: cover;
  background-position: inherit;
  background-attachment: fixed;
  backdrop-filter: blur(2px);
  overflow-x: hidden;
  position: initial !important;
}

/* navbar */



nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff85a2;
  padding: 24px;
  height:3.7em;
  border-radius: 0 0 5px 5px;
  color: #fcf6f5ff;
  box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 0.5s;
  overflow: hidden;

  /* width: 100%;
  height: 4em;
  background-color:pink;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed; */
}

nav .title a {
  font-weight: bold;
  margin-left: 20px;
  text-decoration: none;
  color: #fcf6f5ff;
}

nav .navbar {
 /* margin-right: 20px; */
 /* position: fixed; */
}

nav .navbar a {
  color: #fcf6f5ff;
  text-decoration: none;
  font-size: 15px;
  margin: 10px;
}

.nav-2{
  height:3em;
  display: flex;
  justify-content: center;
}
/* navbar end */

.home {
  background-image: linear-gradient(to bottom, #000, #00000060),
    url("https://images.unsplash.com/photo-1620008850344-1bc6d8ae3e2c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 48em;
}

.hd {
  color: white;
  margin-bottom: 12px;
}

.btnHome {
  width: 12em;
  padding: 8px;
  border-radius: 12px;
  background-color: #ff85a2;
  border: none;
  transition: 0.4s;
  color: white;
  cursor: pointer;
}

.btnHome:hover {
  scale: 1.1;
}
/* bantuan */

.tombol {
  display: none;
}

.btn {
  cursor: pointer;
  width: 10%;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
  transition: 0.3s;
  position: relative;
}

.btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff85a2;
  transition: width 0.4s ease;
}

.btn:hover::after,
.btn.active::after {
  width: 100%;
}

.btn:hover {
  background-color: rgba(209, 207, 207, 0.817);
}

.btn:hover h4 {
  color: #ff85a2;
}
.container {
  background-color: #fcf6f5ff;
}

.container #satu h4,
.container #dua h4 {
  font-weight: normal;
}

/* bantuan */
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.info lord-icon {
  position: relative;
  top: -9px;
}

.pusat_bantuan {
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.7);
  background-color: white;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
}

.pusat_bantuan h1 {
  margin: 0px 10px 5px 10px;
  color: #ff85a2;
}

.tanda::after {
  content: "";
  position: absolute;
  bottom: 1;
  left: 42.4%;
  width: 15.4%;
  height: 2px;
  background-color: #ff85a2;
}

.info {
  margin-top: 30px;
}

.pusat_bantuan #info {
  margin-bottom: 20px;
  color: rgb(0, 0, 0, 0.7);
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  padding: 100px;
  gap: 1rem;
}

.category i {
  position: relative;
  top: 6px;
  font-size: 20px;
  margin: 4px;
}

.category .ctr {
  flex-grow: 1;
  position: relative;
  overflow-y: hidden;
  height: 180px;
  width: 320px;
  background-color: #fcf6f5ff;
  box-shadow: 0px 0px 3.2px 3.2px rgb(255, 133, 162, 0.7);
  border-radius: 10px;
  color: #ff85a2;
  padding: 20px;
  cursor: pointer;
  margin: 8px;
}

.other {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.category .other h3,
lord-icon {
  margin: 10px;
}

.category div p {
  font-size: 15px;
  margin-top: 10px;
  text-align: left;
}

.category div:hover {
  box-shadow: none;
  background-color: #ff85a2;
  color: #fcf6f5ff;
  transition: 0.3s;
}

.category div.active {
  box-shadow: 0px 0px 3.2px 3.2px rgb(255, 133, 162, 0.7);
  background-color: #ff85a2;
  color: #fcf6f5ff;
  transition: 0.3s;
}

/* bantuan end */

/* kota */
#kota {
  text-align: center;
  box-shadow: 0 0 5px 5px rgba(220, 214, 214, 0.6);
  padding: 20px 10px 10px 10px;
  background-color: rgba(220, 214, 214, 0.6);
  margin-top: 5px;
}

.kota {
  justify-content: space-evenly;
  display: flex;
  margin: 20px 0 0 20px;
  cursor: pointer;
}

#kota h3 {
  color: #000000d0;
}

.kota div {
  width: 25%;
  height: 30px;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 0px 2px 15px 2px;
}
.pilih::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff85a2;
  transition: width 0.4s ease;
}

.pilih:hover::after,
.pilih.active::after {
  width: 100%;
}

.pilih:hover {
  background-color: rgba(209, 207, 207, 0.817);
}

.pilih:hover h4 {
  color: #ff85a2;
}

.pilih:hover {
  background-color: rgba(220, 214, 214, 0.6);
}

.kota div h4 {
  font-weight: normal;
}

/* kota end */

/* result */
.hasil {
  margin-top: 30px;
}

.result {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-grow: 1;
  justify-content: center;
}

.result h2 {
  width: 100%;
}

.k {
  text-align: center;
  display: none;
  color: #ff85a2;
  transition: 0.4s;
}

.consult {
  box-shadow: none;
  background-color: white;
  width: 360px;
  height: 500px;
  margin: 20px;
  border-radius: 8px;
  transition: 0.5s;
  cursor: pointer;
  overflow-y: hidden;
  transition: 0.9s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.consult button {
  border: none;
  width: 50%;
  height: 30px;
  border-radius: 20px;
  background-color: #ff85a2;
  color: white;
  display: flex;
  position: relative;
  padding: 2px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  cursor: pointer;
}

.consult button:hover {
  box-shadow: 0 0 2px 2px #ff85a2b3;
  background-color: rgb(218, 218, 218);
  color: #ff85a2;
  transition: 0.5s;
}

.bdg {
  display: none;
}

.jkt {
  display: none;
}

.diy {
  display: none;
}

.consult:hover {
  box-shadow: 0 0 5px 5px rgb(255, 133, 162, 0.5);
  transition: 0.5s;
}

.consult .gambar {
  width: 100%;
  height: 50%;
  background-image: url("https://carilayanan.com/wp-content/uploads/2021/06/tingey-injury-law-firm-6sl88x150Xs-unsplash-424x280.jpg");
  background-size: cover;
}

.consult .deskripsi {
  margin: 10px;
  text-align: left;
  font-size: 12px;
}

.consult .deskripsi h4 {
  margin: 10px;
  font-size: 14px;
}

.consult .deskripsi h4:nth-child(1) {
  color: rgba(0, 0, 0, 0.571);
}

.consult .deskripsi h4:nth-child(2) i {
  padding: 2px;
  color: #ff85a2;
}

.consult .deskripsi p {
  margin: 10px;
}

.btn-lainnya {
  width: 90%;
  background-color: rgb(255, 133, 162, 0.9);
  justify-content: center;
  margin: 10px auto;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.gambar2 {
  width: 100%;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://carilayanan.com/wp-content/uploads/2021/06/possessed-photography-XEhiyexYIpg-unsplash-424x280.jpg");
}

.gambar3 {
  width: 100%;
  height: 50%;
  background-size: cover;
  background-image: url("https://carilayanan.com/wp-content/uploads/2020/11/national-cancer-institute-NFvdKIhxYlU-unsplash-424x280.jpg");
}

.gambar4 {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-image: url("https://carilayanan.com/wp-content/uploads/2021/06/tina-floersch-CcbnSarTldQ-unsplash-424x280.jpg");
}

.gambar5 {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-image: url("https://carilayanan.com/wp-content/uploads/2021/06/tina-floersch-CcbnSarTldQ-unsplash-424x280.jpg");
}

.btn-lainnya:hover {
  background-color: #ff85a2;
}

/* result end */

/* info website */
.nah {
  padding: 150px 20px 150px 20px;
}

.nahloh {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px;
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.582);
  border-radius: 10px;
  background-color: white;
  flex-grow: 1;
}

.nahloh div {
  width: 45%;
  margin: 5px;
}

.left {
  background-color: white;
  height: auto;
  padding: 70px 10px 0px 10px;
  font-size: 14px;
}

.left p {
  margin-top: 10px;
}

.left h4 {
  font-size: 14px;
}

.left p span {
  color: #ff85a2;
  font-weight: bold;
}

.right {
  background-color: white;
}
/* info website end */

/* panduan */
.carakerja {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 12px;
  flex-direction: column;
}

.txt {
  text-align: center;
  margin-bottom: 16px;
}

.text-primary {
  color: #ff85a2;
}

.mb-2 {
  margin-bottom: 8px;
}

.txt2 {
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  background-color: white;
  box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.92);
}

.txt3 {
  display: flex;
  flex-direction: column;
}

.txt4 {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.txt5 {
  display: flex;
  align-items: center;
}

.txt6 {
  background-color: #ff85a2;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
}

.w-half {
  width: 50%;
}

.w-380 {
  width: 380px;
}
/* panduan end */

/* informasi */
.informasi {
  font-family: "Baloo 2", sans-serif;
  text-align: justify;
  justify-content: center;
  align-items: center;
}

#p i {
  font-size: 40px;
  margin-top: px;
  width: 5%;
  padding: 5px;
  color: #ff85a2;
}

#p p {
  font-size: 15px;
  width: 95%;
}

#p {
  box-shadow: 0 0 3px 3px rgb(255, 133, 162, 0.9);
  padding: 40px;
  display: flex;
  font-family: "Poppins", sans-serif;
  background-color: white;
  width: 90%;
  margin: 10px auto;
  border-radius: 20px;
}

/* div1 */
.div1 {
  display: flex;
  background-color: #ff85a2;
  box-shadow: 0 0 7px 7px rgb(255, 133, 162, 0.9);
  margin-top: 80px;
  margin-bottom: 100px;
  flex-wrap: wrap;
  flex-grow: 1;
}

.img1 {
  width: 30%;
}

.isi1 {
  width: 70%;
  padding: 40px;
  text-align: left;
  color:#eae8e8;
}

.isi1 span {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* div1 end */

/* div2 */
.div2 {
  display: flex;
  width: 95%;
  padding: 10px;
  margin: 10px auto;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.div2 .isi2 {
  max-width: 76%;
  padding: 50px 40px 40px 40px;
}

.div2 .img2 {
  max-width: 24%;
}
/* div2 end */

/* div3 */
.div3 {
  background-color: #ff85a2;
  box-shadow: 0 0 7px 7px rgb(255, 133, 162, 0.9);
  padding: 20px 0 20px 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  color:white
}

.iisi {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.img3 {
  width: 26%;
  padding: 20px;
}

.isi3 {
  width: 34%;
  padding: 40px;
  text-align: left;
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.769);
  margin: 10px;
  border-radius: 2px;
  transition: 0.3s;
}

.isi3:hover {
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.8);
}

.div3 p span {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 10px auto;
}
/* div3 end */
/* informasi end */

/* popup */

.popup {
  box-shadow: none;
  background-color: white;
  width: 55%;
  height: 650px;
  margin: 20px;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
  overflow-y: hidden;
  transition: 0.9s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  text-align: left;
  font-size: 12px;
}

.popup h4 {
  margin: 10px;
  font-size: 14px;
}
.popup p {
  margin: 10px;
}
.popup i {
  padding: 2px;
  color: #ff85a2;
}
.popup button {
  border: none;
  width: 50%;
  height: 30px;
  border-radius: 20px;
  background-color: #ff85a2;
  color: white;
  display: flex;
  position: relative;
  padding: 2px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  cursor: pointer;
}

.popup .popup_img {
  width: 100%;
  height: 50%;
  background-image: url("https://carilayanan.com/wp-content/uploads/2021/06/tingey-injury-law-firm-6sl88x150Xs-unsplash-424x280.jpg");
  background-size: cover;
}

/* footer */
.footer {
  display: flex;
  flex-wrap: wrap;
}

.footer p {
  font-size: 13px;
  color: rgb(249, 243, 243);
}

.footer h4 {
  color: white;
}

.footer .kiri,
.footer .kiri-kanan,
.footer .kanan-kiri,
.footer .kanan {
  width: 25%;
  height: auto;
  background-color: rgb(255, 133, 162, 0.6);
  padding: 30px;
}

.footer div h4 {
  margin-bottom: 10px;
}

.footer div p {
  line-height: 1.8;
  cursor: pointer;
}

.footer div p:hover {
  color: white;
}

footer .copy {
  background-color: #ff85a2;
  text-align: center;
  font-size: 12px;
  color: white;
  padding: 4px;
}

/* added code */
#mobile-nav{
  display: none;
}

#mobile-navbar{
  position: sticky;
  background-color: white;
  width: 100%;
  top:60px;
  display: none;
  flex-direction: column;
  z-index:999;
  text-decoration: none;
  padding:16px;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.198);
}

#mobile-navbar a{
  color: black;
  text-decoration: none;
  margin-bottom: 12px;
}

.modal{
  display: none;
  position: fixed ;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding:18px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content{
  background-color:white;
  padding:18px;
  border-radius:12px;
  width:50%;
  animation: modal-anim 0.3s ease-in-out;
  position: fixed ;
}

.modal-title{
  margin-bottom: 12px;
}

.modal-body{
  margin-bottom:14px;
  font-family: sans-serif;
  overflow-y: scroll;
  height:18em;
  text-align: left;
}

.modal-footer{
  display: flex;
  justify-content: end;
}

.modal-img{
  width: 100%;
  height: 12em;
  margin-bottom:24px
}

.modal-img .gambar,.modal-img .gambar2,.modal-img .gambar3,.modal-img .gambar4,.modal-img .gambar5{
  height: 100%;
}

.modal button{
  background-color: #ff85a2;
  border: none;
  width: 4em;
  padding:8px;
  border-radius:8px;
  cursor: pointer;
  color:white
}

@keyframes modal-anim{
  0%{
     opacity: 0;
  }
  100%{
      opacity: 1;
  }
}


/* Responsive code */

@media only screen and (min-width:280px) and (max-width:700px) {
  .modal-content{
    width: 96%;
  }

  .modal{
    padding:32px
  }

  #mobile-nav{
    display: flex;
  }

  .navbar{
    display: none;
  }

  .container #satu,.container #dua{
    width: 49%;
  }

  /* pusat bantuan page */
  .pusat_bantuan{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .ctr{
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
   
    flex-direction: column;
  }

  .category .ctr{
    height: auto;
  }

  .category .other{
    margin-bottom: 8px;
  }

  .category .other h3, lord-icon{
    margin:0
  }

  .category .other{
    display: flex;
    align-items: center;
  }

  .category div p{
    margin:0
  }

  .category{
    padding:8px;
    overflow-y: hidden;
  }

  .info{
    display: flex;
    flex-direction: column;
  }

  .info lord-icon{
    display: none;
  }
  /* end */

  /* Kota Page */
  .kota{
    display: flex;
    flex-wrap: wrap;
    margin:0;
    margin-top:16px;
    padding:8px
  }

  .pilih{
    width: 50%;
  
  }

  .kota div{
    margin:0
  }

  .kota h4::before{
    content:""
  }

  .consult{
    height: auto;
  }

  .consult .gambar,.consult .gambar3{
    height:200px
  }

  .consult .deskripsi p,.consult .deskripsi h4{
    margin:0
  }

  .consult .deskripsi{
    padding:8px
  }

  .consult .deskripsi h4 i{
    margin-right:8px
  }

  .consult .deskripsi h4{
    font-size:1.1rem;    
  }

  .consult .deskripsi h4:nth-child(1){
    margin-bottom:4px
  }

  .consult .deskripsi h4:nth-child(2){
    margin-bottom:8px
  }

  .consult .deskripsi p{
    font-size: 1rem;
  }

  .consult .deskripsi h4:nth-child(2){
    display: flex;
    align-items: center;
  }

  

  /* end */

  /* informasi 1*/
    .nah{
      padding:0
    }

    .nahloh{
      margin:0;
      padding:16px;
      flex-direction: column;
    }

    .nahloh div{
      width: 100%;
    }

    #img-player{
      width: 100% !important;
      height: 100% !important;
    }
  /* end  */


  /* Cara kerja */
    .txt2{
      flex-direction: column;
      padding:8px
    }

    .text4{
      display: flex;
      justify-content: center;
    }

    .txt5{
      
    }

    .txt6{
      width: 100px;
      height: 40px;
    }

    .w-half{
      width: 100%;
    }

    .w-half img{
      width: 100%;
    }
  /*  */

  /* Footer */
    .footer{
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      background-color:transparent;
      height: 30em;
    }

    .footer div{
      width: 50% !important;
    }
  /* End Footer */


  /* Informasi Page 2 */
    .div1{
      display: flex;
      flex-direction: column;
    }

    .img1{
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .isi1{
      width: 100%;
    }

    .isi1 p{
      color:#eae8e8
    }

    .isi1 p:nth-child(2){
      font-size: 1.1rem;
    }
    .isi1 p:nth-child(1){
      margin-bottom:12px
    }


  /* end */

  /* informasi box */
    #p{
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 32px;
    }

    #p i{
      width: 100%;
      text-align: center;
      font-size:4em;
      margin-bottom:12px
    }

    .div2{
      flex-direction: column;
    }

    .div2 .isi2{
      width: 100%;
      max-width: 100%;
      padding: 8px;
      margin-bottom: 18px;
    }

    .div2 .img2{
      max-width: 100%;
    }

    .div3{
      padding:16px;
      color:white
    }

    #title-p span{
      font-size:2.2rem ;
      
    }

    #title-p{
      margin-bottom: 18px;
    }

    .isi3{
      width: 100%;
      padding:24px
    }

    .img3{
      width: 100%;
    }

    #img-hukum{
      width: 100% !important;
      height: 100% !important;
    }
  /* end */
}

/* tablet mode */
@media only screen and (min-width:700px) and (max-width:1024px){
  .container #satu,.container #dua{
    width: 49%;
  }
  #pusat_banutan{
    display: flex;
    justify-content: center;
  }
  .category{
    padding:0;
    height: auto;
    overflow-y: hidden;
  }

  .nah{
    padding:0
  }

  .nahloh{
    flex-direction: column;
  }

  .nahloh div{
    width: 100%;
  }

  .ctr{
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
   
    flex-direction: column;
  }

  .category .ctr{
    height: auto;
  }

  .category .other{
    margin-bottom: 8px;
  }

  .category .other h3, lord-icon{
    margin:0
  }

  .category .other{
    display: flex;
    align-items: center;
  }

  .category div p{
    margin:0
  }

  .category{
    padding:8px;
    overflow-y: hidden;
  }

  .info{
    display: flex;
    flex-direction: column;
  }

  .info lord-icon{
    display: none;
  }
  /* end */

  /* Kota Page */
  .kota{
    display: flex;
    flex-wrap: wrap;
    margin:0;
    margin-top:16px;
    padding:8px
  }

  .pilih{
    width: 50%;
  
  }

  .kota div{
    margin:0
  }

  .kota h4::before{
    content:""
  }

  .consult{
    height: auto;
    width: 340px;
  }

  .consult .gambar,.consult .gambar3{
    height:200px
  }

  .consult .deskripsi p,.consult .deskripsi h4{
    margin:0
  }

  .consult .deskripsi{
    padding:8px
  }

  .consult .deskripsi h4 i{
    margin-right:8px
  }

  .consult .deskripsi h4{
    font-size:1.1rem;    
  }

  .consult .deskripsi h4:nth-child(1){
    margin-bottom:4px
  }

  .consult .deskripsi h4:nth-child(2){
    margin-bottom:8px
  }

  .consult .deskripsi p{
    font-size: 1rem;
  }

  .consult .deskripsi h4:nth-child(2){
    display: flex;
    align-items: center;
  }

  

  /* end */

  /* informasi 1*/
    .nah{
      padding:0
    }

    .nahloh{
      margin:0;
      padding:16px;
      flex-direction: column;
    }

    .nahloh div{
      width: 100%;
    }

    #img-player{
      width: 100% !important;
      height: 100% !important;
    }
  /* end  */


  /* Cara kerja */
    .txt2{
      flex-direction: column;
      padding:8px
    }

    .txt5{
      
    }

    .w-half{
      width: 100%;
    }

    .w-half img{
      width: 100%;
    }
  /*  */

  /* Footer */
    .footer{
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      background-color:transparent;
      height: 30em;
    }

    .footer div{
      width: 50% !important;
    }
  /* End Footer */


  /* Informasi Page 2 */
    .div1{
      display: flex;
      flex-direction: column;
    }

    .img1{
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .isi1{
      width: 100%;
    }

    .isi1 p{
      color:#eae8e8
    }

    .isi1 p:nth-child(2){
      font-size: 1.1rem;
    }
    .isi1 p:nth-child(1){
      margin-bottom:12px
    }


  /* end */

  /* informasi box */
    #p{
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 32px;
    }

    #p i{
      width: 100%;
      text-align: center;
      font-size:4em;
      margin-bottom:12px
    }

    .div2{
      flex-direction: column;
    }

    .div2 .isi2{
      width: 100%;
      max-width: 100%;
      padding: 8px;
      margin-bottom: 18px;
    }

    .div2 .img2{
      max-width: 100%;
    }

    .div3{
      padding:16px;
      color:white
    }

    #title-p span{
      font-size:2.2rem ;
      
    }

    #title-p{
      margin-bottom: 18px;
    }

    .isi3{
      width: 100%;
      padding:24px
    }

    .img3{
      width: 100%;
    }

    #img-hukum{
      width: 50% !important;
      height: 50% !important;
    }

    .img3{
      display: flex;
      justify-content: center;
    }
  /* end */
}