@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  background-color: #fcf6f5ff;
}

nav {
  position: fixed; /* Mengatur navbar menjadi tetap di bagian atas */
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  background-color: rgb(27, 56, 103);
  padding: 15px;
  border-radius: 8px 8px 40px 40px;
  color: #fcf6f5ff;
  box-shadow: 3px 3px 3px 3px rgb(0, 0, 0, 0.1);
}

nav .title a {
  font-weight: bold;
  margin-left: 20px;
  text-decoration: none;
  color: #fcf6f5ff;
}

nav .navbar {
  margin-right: 20px;
}

nav .navbar a {
  color: #fcf6f5ff;
  text-decoration: none;
  font-size: 15px;
  margin: 10px;
}

.hero {
  position: relative;
  top: -54px;
  background-image: url("https://images.unsplash.com/photo-1620008850344-1bc6d8ae3e2c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  color: rgb(27, 56, 103);
}

.container {
  text-align: center;
  padding: 10px;
}

.hero h4 {
  font-weight: normal;
  margin-bottom: 20px;
}

.search {
  display: flex;
  background-color: #fcf6f5ff;
  max-width: 670px;
  border-radius: 40px;
  min-height: 50px;
  box-shadow: 0px 0px 3px 3px rgb(0, 0, 0, 0.4);
  margin: 20px auto;
}

.box {
  display: flex;
  width: 150px;
  padding: 0px;
  border-radius: 5px;
  height: 30px;
  margin-left: 25px;
  margin-top: 10px;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.2);
}

.box input {
  background-color: #fcf6f5ff;
  margin-right: 20px;
  border-radius: 5px;
  height: 30px;
  width: 131px;
  border: none;
  text-align: center;
}

.input {
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.2);
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

i {
  color: rgb(88, 131, 201);
  font-size: 14px;
}

.box i {
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
}

.box input::after {
  border: none;
}

.kategori select,
.kota select {
  border-radius: 5px;
  height: 30px;
  width: 140px;
  border: none;
  background-color: #fcf6f5ff;
}

.kategori {
  margin-left: 24px;
}

.kategori i {
  margin-top: 8.3px;
}

.kota i {
  margin-top: 8.3px;
}

.kategori,
.kota {
  background-color: #fcf6f5ff;
}

.src {
  border-radius: 5px;
  height: 30px;
  width: 100px;
  border: none;
  text-align: center;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.src:hover {
  box-shadow: none;
  margin-top: 12px;
  margin-left: 27px;
}

.src p {
  margin: 3px 3px 0 15px;
}
.src i {
  margin: 7px 3px 0 5px;
}

.pusat_bantuan {
  position: relative;
  height: auto;
  background-color: #fcf6f5ff;
  text-align: center;
  padding: 10px;
  margin-top: 0;
}

.pusat_bantuan h1 {
  margin: 0px 10px 40px 10px;
  color: rgb(27, 56, 103);
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.category i {
  position: relative;
  top: 6px;
  font-size: 20px;
  margin: 4px;
}

.category div {
  height: 160px;
  width: 300px;
  background-color: #fcf6f5ff;
  box-shadow: 0px 0px 3.2px 3.2px rgba(27, 56, 103, 0.7);
  flex-grow: 1;
  border-radius: 10px;
  margin: 8px;
  color: rgba(27, 56, 103);
  text-align: justify;
  padding: 14px;
  cursor: pointer;
}

.category div p {
  font-size: 15px;
  margin-top: 10px;
}

.category div:hover {
  box-shadow: none;
  background-color: rgba(27, 56, 103);
  color: #fcf6f5ff;
  transition: 0.3s;
}

.hasil {
  height: auto;
  display: none;
  overflow-y: auto;
  background-color: rgb(253, 253, 253);
}

.hasil h1 {
  padding: 20px;
  text-align: center;
  color: rgb(27, 56, 103);
}

.hasil .isi {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.deskripsi span {
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
  color: rgba(27, 56, 103, 0.785);
}

.deskripsi h4,
.deskripsi p {
  margin: 5px;
}

.hasil .isi .isi1 {
  overflow: hidden;
  box-shadow: 0px 0px 3px 3px rgba(27, 56, 103, 0.7);
  height: 350px;
  width: 300px;
  margin: 10px;
  border-radius: 20px;
  color: rgb(27, 56, 103);
}

.hasil .isi .isi1 .img {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  margin: 0;
  width: 300px;
  height: 200px;
  background-image: url("https://media.istockphoto.com/id/1001313596/photo/woman-raised-her-hand-for-dissuade-campaign-stop-violence-against-women-asian-woman-raised.webp?b=1&s=170667a&w=0&k=20&c=zzE8R9pvP9J2IIhqGNI5f0Nr-6JVpbk_yEQW7GKvbFw=");
  background-size: cover;
}

.hasil .isi .isi1:hover {
  background-color: rgb(27, 56, 103);
  color: #fcf6f5ff;
  transition: 0.3s;
  box-shadow: none;
}

.hasil .isi .isi1:hover span {
  color: rgba(252, 246, 245, 0.705);
  transition: 0.3s;
}

.hasil .isi .isi1:hover .img {
  transform: scale(1.05); /* Ubah skala gambar saat dihover */
  transition: transform 0.3s ease; /* Tambahkan efek transisi */
}

.hasil .isi .isi1 .img i {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.hasil:nth-child(3) {
  /* Menampilkan bagian konseling */
  display: block;
}

.hasil:nth-child(3) h1 {
  /* Gaya judul konseling */
  color: rgb(27, 56, 103);
}

.hasil:nth-child(3) .isi .isi1 {
  overflow: hidden;
  box-shadow: 0px 0px 3px 3px rgba(27, 56, 103, 0.7);
  height: 350px;
  width: 300px;
  margin: 10px;
  border-radius: 20px;
  color: rgb(27, 56, 103);
}

#btn {
  display: block;
  margin: 30px auto;
  border: none;
  box-shadow: 0 2px 2px 2px rgb(0, 0, 0, 0.4);
  border-radius: 20px;
  width: 70%;
  height: 35px;
  color: rgba(252, 246, 245, 0.884);
  background-color: rgb(88, 131, 201);
  font-size: 16px;
  cursor: pointer;
}

#btn:hover {
  background-color: rgb(27, 56, 103);
  color: rgba(252, 246, 245);
  margin-top: 32px;
  box-shadow: none;
}

.information {
  height: auto;
  border: 1px solid rgb(0, 0, 0, 0.2);
}

.information h1 {
  color: rgb(27, 56, 103);
  text-align: center;
}

.information .card {
  width: 90%;
  margin: 30px auto;
  font-size: 14px;
  text-align: justify;
}

.information .card a {
  font-style: italic;
  color: black;
}

.information .card i {
  color: black;
  font-style: italic;
  font-weight: bold;
}

.information .card div {
  display: flex;
  height: 440px;
  width: 350px;
  margin: 0 auto;
  background-color: rgb(88, 131, 201);
}

.about {
  text-align: center;
  background-color: rgb(88, 131, 201);
  color: rgb(27, 56, 103);
  font-size: 13px;
  height: auto;
  padding: 50px;
  justify-content: center;
  align-items: center;
}

.about h1 {
  color: rgb(27, 56, 103);
}

.about .abut {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

footer {
  padding: 6px;
  text-align: center;
  background-color: rgb(27, 56, 103);
  color: #fcf6f5ff;
}

footer i,
footer a {
  text-decoration: none;
  color: antiquewhite;
  cursor: pointer;
  font-size: 12px;
}

footer i {
  margin: 7px;
}
